/* Table of Content
* Colors
* Typography
* Base
* Utilities
* Keyframes
* Site Title/Navbar
* Footer
* Typography
* Constant Telephone Icon
* Frontpage Hero
* Frontpage Primary Categories
* Frontpage Parallax
* Frontpage Featured and Secondary Categories
* About Page
* Store Tour Page
* Products Archive Page
* Products Single Page

	Extra Small Devices
* Frontpage Hero

	Small Devices
* Small Frontpage Testimonials
* Small Frontpage Galleries
* Small Block Template

	Medium Devices

	Large Devices
* Large Frontpage Welcome
* Large Frontpage Testimonials
*/
/*----- Base */
a {
	color: #d64669;
}

/* Colors */
a:focus {
	color: #5DBCD2; /*light blue*/
	color: #272B4D;	/*navy blue*/
	color: #232533; /*black*/
	color: #E5D025; /*mustard yellow*/
	color: #9E0246; /*deep pink*/
	color: #4ECC78; /*medium green*/
}
/*----- Typography */
@font-face {
	font-family: Indie Flower;
	src: url(../fonts/IndieFlower.ttf);
	font-weight: normal;
}
@font-face {
    font-family: Montserrat Regular;  
    src: url(../fonts/Montserrat-Regular.ttf);  
    font-weight: normal;  
}
body {
	font-family: "Montserrat Regular", sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6 {
	font-family: "Indie Flower", sans-serif;
}
.h2, h2 {
	font-size: 2.2rem;
}
.h3, h3 {
	font-size: 2rem;
}
.h4, h4 {
	font-size: 1.8rem;
}
/*----- Header */
/*-- super header */
.superscript-header-infobar {
	background-color: #5DBCD2; /*riptide*/
	color: #fff;
	position: relative;
	z-index: 3;/* keep it above the navbar's box shadow */
}
.superscript-header-infobar a {
	color: #fff;
}
.super-header-content {
	display: flex;
	justify-content: space-between;
}
/* social icon layout and spacing */
.left-promo {
	font-size: 28px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.social-icon {
	padding-right: 15px;
}
.social-icon > a {
	display: flex;
	padding: 10px 0;
}
/* Store hours and contact links */
.right-promo {
	font-size: 18px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.right-promo > span {
	padding-left: 15px;
}
/*-- stock header */
/* don't need side margin with centered columns */
.title-logo-block .navbar-brand {
	margin-right: 0;
}
/* some shadow to accent header */
#wrapper-navbar {
	z-index: 2;
	position: relative;
	box-shadow: 0 -5px 21px 0px rgba(70, 70, 70, 0.86);
}
/*----- Site Ankler / Site Footer */
/*-- Ankler */
.ankler-canvas {
	background: #7cafaf;
	background: linear-gradient(-26deg, #576f76, #63918e,#9fcfb9);
	background: #5dbcd2;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
/* business hours is the second flex-child up through large screens */
.hours-column {
	order: 1;
	padding-bottom: 30px;
	text-align: center;
}
/* flex box for easy spacing */
.store-hours-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4rem 2rem;
	border-radius: 7px;
	background: #f8f9fa;
	color: #212529;
	width: 100%;
}
/* business hours font styling */
.day-block {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 0;
}
/* even spacing */
.hour-block:last-child {
	margin-bottom: 0;
}
/* spacing */
.map-column {
	padding-bottom: 30px;
}
/* Map frame is the first flex-child up to large screens. Always 16/9 aspect ration */
.map-frame {
	order: 0;
	width: 100%;
	height: 0;
	overflow: hidden;	
	padding-top: 133%;
	position: relative;
}
.map-frame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
/* facebook feed column is always last flex-child */
.fb-column {
	order: 2;
}
.footer-fb-wrapper {
	height: 100%;
	overflow: hidden;
	position: relative;
}
/*-- Footer */
div#wrapper-footer {
	background: #036379;
	color: #fff;
}

/*----- General Front Page*/
.fp-section-header {
	width: 100%;
}

/*----- Owl Carousel Hero */
#hero {
	height: 60vh;
}
#hero .owl-carousel,
#hero .owl-stage-outer,
#hero .owl-stage,
#hero .owl-item {
	height: 100%;
	width: 100%;
}
#hero .owl-item {
	overflow: hidden;
}
.hero-image-wrapper {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}
#hero .hero-image-wrapper img {
	flex-shrink: 0;
	max-width: unset;
	min-width: 100%;
	min-height: 100%;
	width: auto;
}
/* overlay text with color background */
.hero-text {
	color: #181b31;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	padding: 1rem;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 150px;
}
.hero-text-right {
	right: 5%;
}
.hero-text-left {
	left: 5%;
}
.hero-blue {
	background-color: rgba(162, 229, 245, 0.85);
}
.hero-green {
	background-color: rgba(156, 243, 73, 0.85);
}
.hero-pink {
	background-color: rgba(255, 167, 196, 0.85);
}
.hero-white {
	background-color: rgba(255, 255, 255, 0.85);
}
.cb-hero-slider {
	position: absolute;
}
/* Navigation dots placement and style */
#hero .owl-dots {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(33,37,41);
	background: linear-gradient(0deg, rgba(33,37,41,0.6) 0%, rgba(0,0,0,0) 100%);
}
/* make dots a little larger */
#hero .owl-dot span {
	height: 12px;
	width: 12px;
}
/* remove default focus outline as colors replace visual cue */
#hero .owl-dot:focus {
	outline: none;
}
/* dot hover and active color */
#hero .owl-dot.active span,
#hero .owl-dot:hover span {
	background-color: #5dbcd2;
}

/*----- Frontpage About */
/* vertical spacing */
#fp-about {
	padding-top: 2rem;
}
.fp-about-title {
	font-family: 'Indie Flower', cursive;
	font-size: 2.2rem;
}
.about-content-block,
.about-image-block {
	margin-bottom: 1rem;
}
/* always center image in frame */
.about-image-block {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* text alignment */
.about-content-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/*----- Frontpage Primary Categories */
/* spacing */
#primary-categories {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
/* introductory text for section */
.categories-blurb {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* full-width content wrapper contains absolute isotope items */
.category-grid-wrapper {
	width: 100%;
	position: relative;
}
/* Isotope child has various heights for different devices */
.fp-category-item {
	height: 200px;
}
/* prevent cropped photo from overflowing */
.fp-grid-sizer,
.fp-category-item {
	/*overflow: hidden;*/
	width: 100%;
}
/* helps isotope calculate space alloted */
.fp-grid-sizer {
	height: 0;
}
/* gives padding between items for finished look */
.category-frame {
	padding: 10px;
	height: 100%;
	width: 100%;
}
/* flex container for dynamically sized frame */
.category-image-wrapper {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
/* color overlay */
.category-image-wrapper::after {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: .7;
	transition: opacity .3s ease-in-out;
	z-index: 99;
}
.category-image-wrapper.blue::after {
	background-color: #a2e5f5;
}
.category-image-wrapper.green::after {
	background-color: #9cf349;
}
.category-image-wrapper.pink::after {
	background-color: #ffa7c4;
	background-color: #ff99bb;
	background-color: #e967be;
}
.category-image-wrapper.yellow::after {
	background-color: #eef349;
	background-color: #4949f3;/*blue*/
	background-color: #3454e5;
}
/* remove color overlay on hover */
.category-link:hover .category-image-wrapper::after {
	opacity: 0;
}
/* flex image always fills frame */
.category-image-wrapper img {
	flex-shrink: 0;
	max-width: unset;
	min-width: 100%;
	min-height: 100%;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transition:transform .3s linear;
	-webkit-transition:transform .3s linear;
	-moz-transition:transform .3s linear;
}
/* expand image effect when hover */
.category-link:hover img {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transition:transform .3s ease-out;
	-webkit-transition:transform .3s ease-out;
	-moz-transition:transform .3s ease-out;
}
.fp-category-name {
	color: #fff;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	z-index: 100;
}
.floating-category-name {
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 1.2px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            	 0px 8px 13px rgba(0,0,0,0.1),
            	 0px 18px 23px rgba(0,0,0,0.1);
}

/*----- Frontpage Logo Slider */
#logo-slider {
	padding-bottom: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
#logo-slider .owl-stage {
	display: flex;
	align-items: center;
}
#brand-carousel .owl-slide{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
#logo-slider .owl-dots {
	display: none;
}

/*----- Frontpage Parallax */
/* necessary for parallax JS to work */
#fp-parallax {
	background: rgba(50,50,50,.3);
	height: 65vh;
	position: relative;
	margin-bottom: 2rem;
	overflow: hidden;
}
/* center and fill image inside container */
/*.parallax-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}*/
/*#parallax-image {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
	max-width: unset;
}*/

/* static text will float over the parallax image */
.static-text {
	color: #fff;
	font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*----- Frontpage Featured and Secondary Categories */
/* Make the featured slider and secondary categories the same height */
#featured-block,
#secondary-block {
	height: 75vh;
	margin-bottom: 2rem;
}
/*-- Featured Carousel */
#featured-carousel,
#featured-carousel .owl-stage-outer,
#featured-carousel .owl-stage,
#featured-carousel .owl-item {
	height: 100%;
	width: 100%;
}
/* prevent wide images from showing over other slides */
#featured-carousel .owl-item {
	overflow: hidden;
}
/* flex version of object fit also works in IE - Image Container */
#featured-carousel .featured-slide {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* flex version of object fit also works in IE - Image */
#featured-carousel .featured-slide img {
	flex-shrink: 0;
	max-width: unset;/*unset bootstrap width*/
	min-width: 100%;
	min-height: 100%;
	width: auto;
}
/* Descriptive title overlay */
.featured-slide .overlay-title {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}
/*-- Secondary Categories */
/* this frame holds both secondary category boxes */
.secondary-frame {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
/* each category box takes half the height of the container less for spacing */
.secondary-box {
	width: 100%;
	height: 48%;
	overflow: hidden;
	position: relative;
}
/* image frame is needed to center and fill child image */
.secondary-image-frame {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* if images are too short or narrow they will stretch to fill frame without skewing aspect ratio */
.secondary-image-frame img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
	max-width: unset;
}
/* center each category title in its respective frame */
.secondary-title {
	color: #fff;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
/*----- About Page */
/* horizontally center title */
.page-id-261 .entry-title {
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 2.7rem;
}
/* text content */
.page-id-261 .entry-content p{
	font-family: 'Indie Flower', cursive;
	font-size: 1.6rem;
}

/* set font */

/*----- Store Tour Page*/
#store-tour-page {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.tour-tile,
.tour-tile-sizer,
.product-tile,
.product-tile-sizer {
	width: 100%;
	padding: 10px;
}
.tile-content-wrapper {
	position: relative;
	cursor: pointer;
}
.tile-image-wrapper {
	height: 0;
	padding-top: 100%;
	position: relative;	
	overflow: hidden;
}
.tile-image-wrapper img {
	position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	width: 100%;
	max-width: unset;
	transform: translate(-50%, -50%);
}
.tour-title,
.product-title {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}
/* hover overlay */
.hover-overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(50,50,50,.3);
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.tour-tile .tile-content-wrapper:hover .hover-overlay {
	opacity: 1;
}
.cross-box {
	position: absolute;
	top: 32%;
	left: 37%;
	transform: translate(-25%,-25%) scale(.25);
}
.cross-background {
	background: #333;
	border-radius: 50%;
	display: flex;
	height: 200px;
	width: 200px;
	justify-content: center;
	align-items: center;
}
/* css plus icon */
#cross {
	background: #fff;
	height: 100px;
	position: absolute;
	width: 20px;
}
#cross::after {
	background: #fff;
	content: "";
	height: 20px;
	left: -40px;
	position: absolute;
	top: 40px;
	width: 100px;
}
/*-- Featherlight */

/*default featherlight content to not show*/
.tile-featherlight {
	display: none;
	background-color: #fff;
	box-shadow: 0 0 30px -5px #333;
}
/* center featherlight text */
.tile-featherlight .tour-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 15px;
	padding-right: 15px;
}
/* center color accents */
.feather-title,
.feather-text {
	display: flex;
	justify-content: center;
	position: relative;
}
.feather-text,
.feather-text p {
	margin-bottom: 0; 
}
/* colorful accents */
.featherlight .featherlight-content {
	background-color: #3f928c;
	padding: 15px;
	border-bottom: none;
}
.feather-title::after {
	content: '';
	position: absolute;
	top: -26px;
	width: 33%;
	height: 5px;
	background-color: #3f928c;
}
.feather-text::after {
	content: '';
	position: absolute;
	bottom: -26px;
	width: 33%;
	height: 5px;
	background-color: #3f928c;
}
/*----- Products Archive Page */
#products-archive-page {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
/* constrain floating category menu to content area */
.products-archive-wrapper,
#st-content-wrapper {
	position: relative;
}
/* add padding to menu title to match gallery products */
.gallery-menu-title {
	padding-top: 10px;
	text-align: center;
}
/* remove bullets from list items */
.menu-filters ul {
	list-style: none;
}
.menu-filters li {
	cursor: pointer;
}
/* isotope gallery items */
.product-tile,
.product-tile-sizer {
	width: 50%;
}

/*----- Products Single Page */
.site-main {
	padding-top: 0;
}
/*thumbnail menu and large image are wrapped in a flex box for responsiveness*/
.single-gallery-grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*thumbnal menu starts as row and goes to column at medium widths*/
.thumbnail-menu {
	order: 1;
	width: 100%;
	max-width: 500px;
	padding-top: 30px;
}
.thumbnail-menu img {
	cursor: pointer;
	width: 20%;
	padding-right: 15px;
	transition: transform .2s ease;
}
/*hover animation*/
.thumbnail-menu img:hover {
	transform: scale(1.05);
}
.variant-images-wrapper {
	position: relative;
	max-width: 500px;
	width: 100%;
	padding-top: 100%;
	height: 0;
}
.single-image-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.single-image-wrapper:first-child {
	display: block;
}
/* unset BS max-width on jzoom large image */
.single-image-wrapper div:last-child img {
	max-width: unset;
}
.product-image-sizer {
}
.product-image-sizer img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
/*.single-image-wrapper.current {
	opacity: 1;
	transition: opacity .3s ease-in-out;
}*/
/*single text content*/
.product-header {
	padding: 15px 0;
}
.product-sidebar-wrapper {
	max-width: 600px;
	margin: 0 auto;
	padding: 0;
}
@media(max-width: 400px) {
	.nav-container .navbar-brand {
		max-width: 215px;
	}
}

@media(min-width: 576px) {
	/*----- Hero */
	/* overlay text with color background */
	.hero-text {
		font-size: 16px;
	}
	/*----- Footer */
	.map-frame {
		padding-top: 100%;
	}
	/*----- Frontpage Featured and Secondary Categories*/
	#featured-block,
	#secondary-block {
		height: 100vh;
		max-height: 75vw;
	}
	#featured-block {
		padding-right: 10px;
	}
	#secondary-block {
		padding-left: 10px;
	}
	/*----- Frontpage Parallax */
	.static-text {
		flex-direction: row;
	}
	/*----- Store Tour Page*/
	.tour-tile,
	.tour-tile-sizer {
		width:  50%;
	}
	/*----- Products Archive Page */
	.product-tile,
	.product-tile-sizer {
		width:  33.333%;
	}
	/*----- Products Single Page */
	.variant-images-wrapper {
		width: 500px;
		height:0;
		padding-top: 500px;
	}
}
@media(max-width: 767px) {
	/*----- Floating Menu for Products Archive Page and Store Tour Page */
	#products-archive-page,
	#store-tour-page {
		position: relative;
	}
	/* padding for store tour photos when menu is floating */
	#st-content-wrapper {
		padding-top: 2rem;
	}
	/* shrink overlay when not in use to avoid blocking clicked products */
	#products-archive-page.no-height::after,
	#store-tour-page.no-height::after {
		height: 0;
	}
	/* default overlay styling (future mixin?) */
	#products-archive-page::after,
	#store-tour-page::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 100%;
		background-color: rgba(20, 34, 31, 0.55);
		opacity: 0;
		transition: opacity .3s ease-in-out;
		-webkit-transition: opacity .3s ease-in-out;
	}
	/* cover content with translucent layer when menu is floating */
	#products-archive-page.floating-menu::after,
	#store-tour-page.floating-menu::after {
		opacity: 1;
	}
	/* Floating Category Menu */
	#products-archive-menu-column,
	#st-menu-column {
		margin-top: -10px;
		margin-bottom: -10px;
		background-color: #fff;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 250px;
		z-index: 1;
		transform: translateX(-250px);
		-webkit-transform: translateX(-250px);
		transition: transform .3s ease-in-out;
		-webkit-transition: transform .3s ease-in-out;
	}
	/* show menu when floating menu class is activated */
	.floating-menu #products-archive-menu-column,
	.floating-menu #st-menu-column {
		transform: translateX(0px);
		-webkit-transform: translateX(0px);
	}
	/* in case category products list is longer than content */
	.overflow-container {
		height: 100%;
		overflow: scroll;
	}
	/* resize menu title */
	.gallery-menu-title {
		font-size: 26px;
	}
	/* reposition hamburger to always be visible */
	.gallery-menu-toggle {
		cursor: pointer;
		position: absolute;
		top: -5px;
		right: -60px;
		padding: 10px;
	}
	/* general burger patty defaults */
	.gallery-menu-toggle span {
		display: block;
		background-color: #333;
		height: 2px;
		width: 28px;
		margin-bottom: 6px;
		position: relative; 
		border-radius: 2px;
		transform-origin: 4px 0;
		transition: background-color .3s ease-in-out, transform .3s ease-in-out, opacity .3s ease-in-out;
		-webkit-transition: background-color .3s ease-in-out, transform .3s ease-in-out, opacity .3s ease-in-out;
	}
	/* individual hamburger patty defaults */
	.gallery-menu-toggle .patty-1 {
		transform-origin: 0% 0%;
	}
	.gallery-menu-toggle .patty-3 {
		margin-bottom: 0;
		transform-origin: 0% 100%;
	}
	.floating-menu .hamburger-patty {
		background-color: #fff;
	}
	.floating-menu .patty-1 {
		transform: rotate(45deg) translate(-3px, -1px);
	}
	.floating-menu .patty-2 {
		opacity: 0;
		transform: scale(0.2, 0.2);
	}
	.floating-menu .patty-3 {
		transform: rotate(-45deg) translate(-1px, -1px);
	}
}
@media(min-width: 768px) {
	/*----- Hero */
	#hero {
		padding-bottom: 2rem;
	}
	/* overlay text with color background */
	.hero-text {
		font-size: 18px;
		padding: 1rem 1.5rem;
		width: 200px;
	}
	.hero-text-right {
		right: 8%;
	}
	.hero-text-left {
		left: 8%;
	}
	/*----- Frontpage Primary Categories */
	.fp-category-name {
		/*top: 35px;
		transform: translateX( -50% );*/
	}
	.floating-category-name {
		font-size: 1.8rem;
	}
	/*----- Header */
	.nav-container {
		flex-direction: column;
	}
	/*----- Footer */
	/* Spacing when Business Hours is next to map */
	.store-hours-wrapper {
		padding: 1rem 2rem;
		height: 100%;
	}
	.map-frame {
		padding-top: 62.5%;
	}
	.hours-column {
		padding-bottom: 0px;
	}
	/*----- Frontpage About*/
	/* vertical spacing */
	#fp-about {
		padding-top: 2rem;
	}
	.about-content-block,
	.about-image-block {
		margin-bottom: 2rem;
	}
	/*----- Frontpage Primary Categories*/
	.fp-category-item {
		width: 10%;
	}
	.fp-category-item.fp-category-tall {
		width: 40%;
		height: 500px;
	}
	.fp-category-item.fp-category-wide {
		width: 60%;
		height: 250px;
	}
	.fp-category-item.fp-category-square {
		width: 30%;
		height: 250px;
	}
	/*----- Frontpage Featured and Secondary Categories*/
	#featured-block,
	#secondary-block {
		height: 100vh;
		max-height: 75vw;
	}
	#featured-block {
		padding-right: 15px;
	}
	#secondary-block {
		padding-left: 15px;
	}
	/*Feature Carousel*/
	/*#featured-block {
		padding: 30px 15px 30px 30px;
	}*/
	/*Secondary Categories*/
	/*#secondary-block {
		padding: 30px 30px 15px 30px;
	}*/
	/*----- Products Single Page */
	.single-gallery-grid {
		flex-direction: row;
	}
	.thumbnail-menu {
		display: flex;
		flex-direction: column;
		order: 0;
		width: 100px;
		justify-content: flex-start;
		align-self: flex-start;
		padding-top: 0;
	}
	.thumbnail-menu img {
		padding-right: 0;
		padding-bottom: 15px;
		width: 75px;
	}
	.single-image-wrapper {
		width: 100%;
		height: 100%;
	}
}
/* Large Landscape screens */
@media(min-width: 992px) {
	/*----- Footer */
	/* Map Column Sizing */
	.map-frame {
		padding-top: 50%;
	}
	/*----- Frontpage Primary Categories*/
	/* change overall height of grid and items */
	.fp-category-item.fp-category-tall {
		height: 600px;
	}
	.fp-category-item.fp-category-wide {
		height: 300px;
	}
	.fp-category-item.fp-category-square {
		height: 300px;
	}
	/*----- Frontpage Featured and Secondary Categories*/
	/*#secondary-featured {
		height: 90vh;
	}*/
	/*#secondary-featured .content-wrapper {
		height: 100%;
	}*/
	/* Featured Carousel */
	/*#featured-carousel,
	#featured-carousel .owl-stage-outer,
	#featured-carousel .owl-stage,
	#featured-carousel .owl-item {
		height: 100%;
	}
	.featured-slide {
		height: 100%;
	}
	#featured-carousel .featured-slide img {
		max-width: unset;
	}*/
	/* Secondary Categories */
	
	/*----- Products Archive Page */
	.product-tile .archive-variants:first-child {
		opacity: 1;
		transition: opacity .3s ease;
	}
	.product-tile .archive-variants.product-image-1:last-child {
		opacity: 0;
		transition: opacity .3s ease-out;
	}
	.product-tile:hover .archive-variants:first-child {
		opacity: 0;
	}
	.product-tile:hover .archive-variants:last-child {
		opacity: 1;
	}
	/*----- Products Single Page */
	.content-main {
		padding-top: 30px;
	}
	.single-gallery-grid {
		justify-content: flex-end;
	}
	/*remove overflow hidden for wide screen zoom plugin*/
	.single-image-wrapper {
		overflow: unset;
	}
	.product-sidebar-wrapper {
		padding: 30px 0px;
	}
}
/* Large Landscape screens */
@media(min-width: 992px) and (orientation: landscape) {
	/*----- Hero */
	/*set hero height temporarily until page loads*/
	#hero {
		height: 100vh;
	}
	/*----- Frontpage Categories */
	.floating-category-name {
		font-size: 2.1rem;
	}
	/*----- Frontpage Parallax */
	#fp-parallax {
		height: 75vh;
	}
}
@media(min-width: 1200px) {
	/*----- Hero */
	/* overlay text with color background */
	.hero-text {
		font-size: 1.3rem;
		width: 300px;
	}
	/*----- Footer */
	/* Business hours is first flex-child for x-larger screens */
	.hours-column {
		order: 0;
	}
	/* Map Column is second flex-child for x-larger screens */
	.map-column {
		order: 1;
		padding-bottom: 0;
	}
	/* Map Column Sizing */
	.map-frame {
		height: 100%;
		min-height: 500px;
	}
	/*----- Frontpage Primary Categories*/
	/* change overall height of grid and items */
	.fp-category-item.fp-category-tall {
		height: 750px;
	}
	.fp-category-item.fp-category-wide {
		height: 375px;
	}
	.fp-category-item.fp-category-square {
		height: 375px;
	}
	/*----- Store Tour Page*/
	.tour-tile,
	.tour-tile-sizer {
		width: 33.333%;
	}
	.product-tile,
	.product-tile-sizer {
		width: 25%;
	}
}