/* Table of Content

	Base
* Utilities
* Keyframes
* Site Title/Navbar
* Typography
* Constant Telephone Icon
* Frontpage Hero
* Frontpage Primary Categories
* Frontpage About
* Frontpage Featured and Secondary

	Extra Small Devices
* Frontpage Hero

	Small Devices
* Small Frontpage Testimonials
* Small Frontpage Galleries
* Small Block Template

	Medium Devices

	Large Devices
* Large Frontpage Welcome
* Large Frontpage Testimonials
*/


.superscript-header-infobar {
	background-color: #81E9D3; /*riptide*/
	color: #333;
	width: 100%;
	padding-left: 150px;
	padding-right: 150px;
}

/*----- Owl Carousel Hero */
#hero {
	height: 50vh;/* temporary height until  */
	position: relative;
	overflow: hidden;
}
.hero-image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-text {
	padding: 1rem 2rem;
	position: absolute;
	width: 300px;
	background: rgba(255,255,255,.5);
	color: #333;
	font-size: 2rem;
	top: 50%;
}
.hero-text-right {
	right: 10%;
}
.hero-text-left {
	left: 10%;
}
.cb-hero-slider {
	position: absolute;
}
#hero .owl-nav,
#hero .owl-dots {
	position: absolute;
	color: #fff;
	width: 100vw;
	display: flex;
}
.owl-nav {
	top: 27vw;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
}
.owl-dots {
	bottom: 0;
	justify-content: center;
}
/*----- General Front Page*/
.fp-section-header {
	width: 100%;
}
/*Frontpage Primary Categories*/
#primary-categories {
	padding: 2rem 0;
}
.category-grid-wrapper {
	/*height: 600px;*/
	width: 100%;
}
.fp-category-item {
	height: 150px;
}
.fp-grid-sizer,
.fp-category-item {
	overflow: hidden;
	width: 100%;
}
.fp-grid-sizer {
	height: 0;
}
.category-image {
	padding: 10px;
	width: 100%;
	height: 100%;
}
.category-image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: hidden;
}
.fp-category-name {
	color: #fff;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

/*----- Frontpage Logo Slider*/
#logo-slider .owl-stage {
	display: flex;
	align-items: center;
}

/*----- Frontpage About*/
/*#fp-about {

}*/
.about-parallax-container {
	position: relative;
	width: 100%;
}
.parallax-image {
	height: 40vw;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.parallax-image::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(50,50,50,.3);
	z-index: 1;
}
.parallax-image img {
	position: absolute;
	bottom: 50vw;
	bottom: 0;
	transition: 0s linear;
	-webkit-transition: 0s linear;
	-moz-transition: 0s linear;
}
.parallax-text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.parallax-text .text-inner {
	color: #fff;
	text-align: center;
	max-width: 80%;
}
/*----- Frontpage Featured and Secondary */
#secondary-featured {
	height: 750px;
}
/* Featured Block */
/*#secondary-featured {
	display: none;
}*/
#featured-block {
	padding: 60px;
}
/* center image */
.featured-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}
.featured-slide .overlay-title {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}
.secondary-flex-box {
	flex-direction: column;
	flex-wrap: wrap;
}
.secondary-category-block {

}
.secondary-image-frame {

}
.secondary-image-frame img {
	width: 100%;
	height: auto;
}

@media(min-width: 768px) {
	.fp-category-item {
		width: 10%;
	}
	.fp-category-item.fp-category-tall {
		width: 40%;
		height: 500px;
	}
	.fp-category-item.fp-category-wide {
		width: 60%;
		height: 250px;
	}
	.fp-category-item.fp-category-square {
		width: 30%;
		height: 250px;
	}
}
/* Large Landscape screens */
@media(min-width: 992px) and (orientation: landscape) {
	/*set hero height temporarily until page loads*/
	#hero {
		height: 100vh;
	}
	/*----- Featured and Secondary section */
	#secondary-featured {
		height: 90vh;
	}
	#secondary-featured .content-wrapper {
		height: 100%;
	}
	/* Featured */
	#featured-carousel,
	.owl-stage-outer,
	.owl-stage,
	.owl-item {
		height: 100%;
	}
	.featured-slide {
		height: 100%;
	}
	#featured-carousel .featured-slide img {
		width: auto;
		height: 100%;
		max-width: unset;
	}
}